body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #FFFFFF; /* Цвет основного текста */ 
}
h1 {
    animation: color-change 3s infinite;
    color: #D6FF6B; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}


@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: pink;
    }
  
    100% {
      color: lightgreen;
    }
}

.container {
  display: flex;
  align-items: center; 
}

.container img {
  max-width: 50%;   margin-right: 20px; }

.container p {
  flex: 1; 
}

